<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h3> HOME PAGE </h3>
<p sec:authorize="isAuthenticated()">
    Welcome back, <b>[[${#authentication.name}]]</b> — <a href="/bidList/list">Go to your dashboard</a>
</p>
<p sec:authorize="!isAuthenticated()">
    <a href="/login">Login</a>
</p>
</body>
</html>